<h1>Create my restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, collection: %W[Chinese Italian Japanese French Belgian] %>
  <%= f.submit %>
<% end %>
